.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px;
  color: var(--color-font);
}

.container > h1 {
  color: var(--color-font);
  font-family: var(--font-hero-bold);
}

.container > p {
  font-size: 1.1em;
}

.container > .header {
  font-family: var(--font-hero-bold);
  color: var(--color-font);
  margin: 20px;
}

.container > .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 20px;
}

.container > .content > .text {
  color: var(--color-font);
  width: 35%;
  -webkit-transform: translate(0px, 40px);
          transform: translate(0px, 40px);
}

.container > .content > .banners {
  width: 35%;
  height: 200px;
  background-color: beige;
}

.container > .auth {
  background-color: var(--color-form-background);
  margin: 20px 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container > .auth > h2 {
  font-family: var(--font-hero-bold);
  color: var(--color-background);
  margin-bottom: 10px;
}

.container > .auth > .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  margin-bottom: 12px;
}

.container > .auth > .form > input {
  height: 25px;
  width: 400px;
  margin: none;
}

.container > .auth > .form > p {
  margin: 10px 0px;
}

.container > .auth > p {
  color: var(--color-button);
  text-decoration: underline;
}

.container > .auth > .button {
  margin: 15px;
}

.container > .auth > .button > button {
  height: 35px;
  width: 350px;
  background-color: var(--color-button);
  border: none;
  color: var(--color-form-background);
  font-size: .9em;
  font-weight: bolder;
}

.container > .auth > .button > :nth-child(2) {
  width: 350px;
  height: 3px;
  background-color: black;
  opacity: 50%;
  -webkit-transform: translate(0px, -3px);
          transform: translate(0px, -3px);
}

.container > .auth > .button > :nth-child(3) {
  width: 350px;
  height: 3px;
  background-color: white;
  opacity: 50%;
  -webkit-transform: translate(0px, -38px);
          transform: translate(0px, -38px);
}

.container > .auth > .button > :nth-child(4) {
  width: 35px;
  height: 3px;
  background-color: white;
  opacity: 50%;
  -webkit-transform: translate(-16px, -25px) rotate(90deg);
          transform: translate(-16px, -25px) rotate(90deg);
}

.container > .auth > .button > :nth-child(5) {
  width: 35px;
  height: 3px;
  background-color: black;
  opacity: 50%;
  -webkit-transform: translate(331px, -28px) rotate(90deg);
          transform: translate(331px, -28px) rotate(90deg);
}

.container > #verification {
  font-size: 3em;
  letter-spacing: .02em;
  width: 300px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container > a {
  color: var(--color-button);
}

.container > #log-in {
  margin: 35px;
}
/*# sourceMappingURL=pages.css.map */