.container {
    display: flex;
    flex-direction: column;
    margin: 50px;
    color: var(--color-font);
    
    &> h1 {
        color: var(--color-font);
        font-family: var(--font-hero-bold);
    }

    &> p {
        font-size: 1.1em;
    }

    &> .header {
        font-family: var(--font-hero-bold);
        color: var(--color-font);
        margin: 20px;
    }

    &> .content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 20px;

        &> .left {
            display: flex;
            flex-direction: column;
            transform: translate(80px, 0px);

            &> .text {
                color: var(--color-font);
                width: 40%;
                transform: translate(100px, 0px);
            }

            &> .buttons {
                display: flex;
                transform: translate(140px, 40px);

                &> .button {
                    margin: 15px;
        
                    &> button {
                        height: 35px;
                        width: 130px;
                        background-color: var(--color-small-button);
                        border: none;
        
                        &> a {
                            color: var(--color-form-background);
                            font-size: .9em;
                            font-weight: bolder;
                            text-decoration: none;
                        }
                    }
        
                    &> :nth-child(2) {
                        width: 130px;
                        height: 3px;
                        background-color: black;
                        opacity: 50%;
                        transform: translate(0px, -3px);
                    }
        
                    &> :nth-child(3) {
                        width: 130px;
                        height: 3px;
                        background-color: white;
                        opacity: 50%;
                        transform: translate(0px, -38px);
                    }
        
                    &> :nth-child(4) {
                        width: 35px;
                        height: 3px;
                        background-color: black;
                        opacity: 50%;
                        transform: translate(-16px, -25px) rotate(90deg);
                    }
        
                    &> :nth-child(5) {
                        width: 35px;
                        height: 3px;
                        background-color: white;
                        opacity: 50%;
                        transform: translate(111px, -28px) rotate(90deg);
                    }
                }
            }
        }

        &> .right {
            transform: translate(-200px, 0px);

            &> .banners {
                width: 350px;
                height: 200px;
                background-color: beige;
            }
        }
    }

    & > .auth {
        background-color: var(--color-form-background);
        margin: 20px 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &> h2 {
            font-family: var(--font-hero-bold);
            color: var(--color-background);
            margin-bottom: 10px; 
        }

        &> .form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;
            margin-bottom: 12px;

            &> input {
                height: 25px;
                width: 400px;
                margin: none;
            }

            &> p {
                margin: 10px 0px;
                color: var(--color-background);
            }

            // Help
            // &> #banner-upload {
            //     height: 200px;
            // }

            // &> #file-upload-button {
            //     height: 100px;
            //     border: none;
            // }
        }

        &> p {
            color: var(--color-button);
            text-decoration: underline;
        }

        &> .button {
            margin: 15px;

            &> button {
                height: 35px;
                width: 350px;
                background-color: var(--color-button);
                border: none;
                color: var(--color-form-background);
                font-size: .9em;
                font-weight: bolder;

                &> a {
                    height: 35px;
                    width: 100px;
                    background-color: var(--color-button);
                    border: solid;
                    color: var(--color-form-background);
                    font-size: .9em;
                    font-weight: bolder;
                }
            }

            &> :nth-child(2) {
                width: 350px;
                height: 3px;
                background-color: black;
                opacity: 50%;
                transform: translate(0px, -3px);
            }

            &> :nth-child(3) {
                width: 350px;
                height: 3px;
                background-color: white;
                opacity: 50%;
                transform: translate(0px, -38px);
            }

            &> :nth-child(4) {
                width: 35px;
                height: 3px;
                background-color: black;
                opacity: 50%;
                transform: translate(-16px, -25px) rotate(90deg);
            }

            &> :nth-child(5) {
                width: 35px;
                height: 3px;
                background-color: white;
                opacity: 50%;
                transform: translate(331px, -28px) rotate(90deg);
            }
        }
    }

    &> #verification {
        font-size: 3em;
        letter-spacing: .02em;
        width: 300px;
        align-self: center;
    }

    &> a {
        color: var(--color-button);
    }

    &> #log-in {
        margin: 35px;
    }

    &> .page-content {
        display: flex;
        flex-direction: row;
        width: 70vw;
        align-self: center;

        &> .left {
            display: flex;
            flex-direction: column;
            justify-content: left;
            width: 70vw;

            &> .header {
                display: flex;
                flex-direction: column;
                text-align: left;
    
                &> h2 {
                    font-family: var(--font-hero);
                    font-size: 1.7em;
                    margin: 0px;
                }
            }
    
            &> .container {
                background-color: var(--color-form-background);
                width: 700px;
                display: flex;
                flex-direction: column;
                transform: translateX(-20px);
                margin: 20px;
    
                &> .instances {
                    display: flex;
                    flex-direction: column;
                    margin-top: 25px;
    
                    &> a {
                        align-self: center;
                        height: 40px;
                        width: 500px;
                        margin-bottom: 10px;
    
                        &> button {
                            height: 50px;
                            width: 500px;
                            margin: 10px;
                            align-self: center;
                            height: 40px;
                            width: 500px;
                            background-color: var(--color-instances);
                            border: none;
                            
                            &> p {
                                color: var(--color-form-background);
                                font-size: 1.2em;
                                text-align: left;
                                transform: translate(10px, -5px);
                                font-family: var(--font-hero-bold);
                            }
                
                            &> :nth-child(2) {
                                width: 500px;
                                height: 3px;
                                background-color: black;
                                opacity: 50%;
                                transform: translate(-6px, -15px);
                            }
                
                            &> :nth-child(3) {
                                width: 500px;
                                height: 3px;
                                background-color: white;
                                opacity: 50%;
                                transform: translate(-6px, -55px);
                            }
                
                            &> :nth-child(4) {
                                width: 40px;
                                height: 3px;
                                background-color: black;
                                opacity: 50%;
                                transform: translate(-25px, -40px) rotate(90deg);
                            }
                
                            &> :nth-child(5) {
                                width: 40px;
                                height: 3px;
                                background-color: white;
                                opacity: 50%;
                                transform: translate(472.5px, -42.5px) rotate(90deg);
                            }
                        } 
                    }
                }
    
                &> .button {
                    margin: 11px 0px 15px 0px;
                    align-self: center;
        
                    &> button {
                        height: 35px;
                        width: 130px;
                        background-color: var(--color-small-button);
                        border: none;
                        color: var(--color-form-background);
                        font-size: .9em;
                        font-weight: bolder;
        
                        &> a {
                            height: 35px;
                            width: 100px;
                            color: var(--color-form-background);
                            font-size: .9em;
                            font-weight: bolder;
                            text-decoration: none;
                        }
                    }
        
                    &> :nth-child(2) {
                        width: 130px;
                        height: 3px;
                        background-color: black;
                        opacity: 50%;
                        transform: translate(0px, -3px);
                    }
        
                    &> :nth-child(3) {
                        width: 130px;
                        height: 3px;
                        background-color: white;
                        opacity: 50%;
                        transform: translate(0px, -38px);
                    }
        
                    &> :nth-child(4) {
                        width: 35px;
                        height: 3px;
                        background-color: black;
                        opacity: 30%;
                        transform: translate(-16px, -25px) rotate(90deg);
                    }
        
                    &> :nth-child(5) {
                        width: 35px;
                        height: 3px;
                        background-color: white;
                        opacity: 50%;
                        transform: translate(111px, -28px) rotate(90deg);
                    }
                }
            }
        }

        &> .right {
            margin-left: 20px; 
            display: flex;
            flex-direction: column;
            transform: translateY(85px);

            &> .button {
                margin: 11px 0px 15px 0px;
                align-self: center;
    
                &> button {
                    height: 35px;
                    width: 130px;
                    background-color: var(--color-small-button);
                    border: none;
                    color: var(--color-form-background);
                    font-size: .9em;
                    font-weight: bolder;
    
                    &> a {
                        height: 35px;
                        width: 100px;
                        color: var(--color-form-background);
                        font-size: .9em;
                        font-weight: bolder;
                        text-decoration: none;
                    }
                }
    
                &> :nth-child(2) {
                    width: 130px;
                    height: 3px;
                    background-color: black;
                    opacity: 50%;
                    transform: translate(0px, -3px);
                }
    
                &> :nth-child(3) {
                    width: 130px;
                    height: 3px;
                    background-color: white;
                    opacity: 50%;
                    transform: translate(0px, -38px);
                }
    
                &> :nth-child(4) {
                    width: 35px;
                    height: 3px;
                    background-color: black;
                    opacity: 30%;
                    transform: translate(-16px, -25px) rotate(90deg);
                }
    
                &> :nth-child(5) {
                    width: 35px;
                    height: 3px;
                    background-color: white;
                    opacity: 50%;
                    transform: translate(111px, -28px) rotate(90deg);
                }
            }
        }

        &> .members, .banners {

            &> .header {
                display: flex;
                flex-direction: column;
                text-align: left;
    
                &> h2 {
                    font-family: var(--font-hero);
                    font-size: 1.7em;
                    margin: 0px;
                }
            }
    
            &> .container {
                background-color: var(--color-form-background);
                width: 350px;
                display: flex;
                flex-direction: column;
                align-self: center;
                transform: translateX(-50px);
                margin-top: 0;
                padding-bottom: 12px;
    
                &> .instances {
                    display: flex;
                    flex-direction: column;
                    margin-top: 25px;
    
                    &> a, &> div {
                        align-self: center;
                        height: 60px;
                        width: 200px;
                        margin-bottom: 30px;
    
                        &> button {
                            height: 60px;
                            width: 200px;
                            margin: 10px;
                            align-self: center;
                            background-color: var(--color-instances);
                            border: none;
                            
                            &> p {
                                color: var(--color-form-background);
                                font-size: 1.2em;
                                text-align: left;
                                transform: translate(10px, 4px);
                                font-family: var(--font-hero-bold);
                            }
                
                            &> :nth-child(2) {
                                width: 200px;
                                height: 3px;
                                background-color: black;
                                opacity: 50%;
                                transform: translate(-6px, 5px);
                            }
                
                            &> :nth-child(3) {
                                width: 200px;
                                height: 3px;
                                background-color: white;
                                opacity: 50%;
                                transform: translate(-6px, -55px);
                            }
                
                            &> :nth-child(4) {
                                width: 60px;
                                height: 3px;
                                background-color: black;
                                opacity: 50%;
                                transform: translate(-35px, -30px) rotate(90deg);
                            }
                
                            &> :nth-child(5) {
                                width: 60px;
                                height: 3px;
                                background-color: white;
                                opacity: 50%;
                                transform: translate(163px, -32.5px) rotate(90deg);
                            }
                        } 
                    }
                }
    
                &> .button {
                    margin: 11px 0px 15px 0px;
                    align-self: center;
        
                    &> button {
                        height: 35px;
                        width: 130px;
                        background-color: var(--color-small-button);
                        border: none;
                        color: var(--color-form-background);
                        font-size: .9em;
                        font-weight: bolder;

                        &> div {
                            font-family: var(--font-hero-bold);
                        }
        
                        &> a{
                            height: 35px;
                            width: 100px;
                            color: var(--color-form-background);
                            font-size: .9em;
                            font-weight: bolder;
                            text-decoration: none;
                        }
                    }
        
                    &> :nth-child(2) {
                        width: 130px;
                        height: 3px;
                        background-color: black;
                        opacity: 50%;
                        transform: translate(0px, -3px);
                    }
        
                    &> :nth-child(3) {
                        width: 130px;
                        height: 3px;
                        background-color: white;
                        opacity: 50%;
                        transform: translate(0px, -38px);
                    }
        
                    &> :nth-child(4) {
                        width: 35px;
                        height: 3px;
                        background-color: black;
                        opacity: 30%;
                        transform: translate(-16px, -25px) rotate(90deg);
                    }
        
                    &> :nth-child(5) {
                        width: 35px;
                        height: 3px;
                        background-color: white;
                        opacity: 50%;
                        transform: translate(111px, -28px) rotate(90deg);
                    }
                }
            }
        }

        & > .banner {
            &> img {
                height: 400px;
            }
        }
 
    }
    
    &> .center {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 700px;

        &> .header {
            display: flex;
            flex-direction: column;
            text-align: left;

            &> h2 {
                font-family: var(--font-hero);
                font-size: 1.7em;
                margin: 0px;
            }
        }

        &> .container {
            background-color: var(--color-form-background);
            width: 700px;
            display: flex;
            flex-direction: column;
            align-self: center;

            &> .instances {
                display: flex;
                flex-direction: column;
                margin-top: 25px;

                &> a,  &> div {
                    align-self: center;
                    height: 40px;
                    width: 500px;
                    margin-bottom: 10px;

                    &> button {
                        height: 40px;
                        width: 500px;
                        margin: 10px;
                        align-self: center;
                        height: 40px;
                        width: 500px;
                        background-color: var(--color-instances);
                        border: none;
                        
                        &> p {
                            color: var(--color-form-background);
                            font-size: 1.2em;
                            text-align: left;
                            transform: translate(10px, -5px);
                            font-family: var(--font-hero-bold);
                        }
            
                        &> :nth-child(2) {
                            width: 500px;
                            height: 3px;
                            background-color: black;
                            opacity: 50%;
                            transform: translate(-6px, -15px);
                        }
            
                        &> :nth-child(3) {
                            width: 500px;
                            height: 3px;
                            background-color: white;
                            opacity: 50%;
                            transform: translate(-6px, -55px);
                        }
            
                        &> :nth-child(4) {
                            width: 40px;
                            height: 3px;
                            background-color: black;
                            opacity: 50%;
                            transform: translate(-25px, -40px) rotate(90deg);
                        }
            
                        &> :nth-child(5) {
                            width: 40px;
                            height: 3px;
                            background-color: white;
                            opacity: 50%;
                            transform: translate(472.5px, -42.5px) rotate(90deg);
                        }
                    } 
                }
            }

            &> .button {
                margin: 11px 0px 15px 0px;
                align-self: center;
    
                &> button {
                    height: 35px;
                    width: 130px;
                    background-color: var(--color-small-button);
                    border: none;
                    color: var(--color-form-background);
                    font-size: .9em;
                    font-weight: bolder;
    
                    &> a {
                        height: 35px;
                        width: 100px;
                        color: var(--color-form-background);
                        font-size: .9em;
                        font-weight: bolder;
                        text-decoration: none;
                    }
                }
    
                &> :nth-child(2) {
                    width: 130px;
                    height: 3px;
                    background-color: black;
                    opacity: 50%;
                    transform: translate(0px, -3px);
                }
    
                &> :nth-child(3) {
                    width: 130px;
                    height: 3px;
                    background-color: white;
                    opacity: 50%;
                    transform: translate(0px, -38px);
                }
    
                &> :nth-child(4) {
                    width: 35px;
                    height: 3px;
                    background-color: black;
                    opacity: 30%;
                    transform: translate(-16px, -25px) rotate(90deg);
                }
    
                &> :nth-child(5) {
                    width: 35px;
                    height: 3px;
                    background-color: white;
                    opacity: 50%;
                    transform: translate(111px, -28px) rotate(90deg);
                }
            }
        }
    }

}
