.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px;
  color: var(--color-font);
}

.container > h1 {
  color: var(--color-font);
  font-family: var(--font-hero-bold);
}

.container > p {
  font-size: 1.1em;
}

.container > .header {
  font-family: var(--font-hero-bold);
  color: var(--color-font);
  margin: 20px;
}

.container > .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 20px;
}

.container > .content > .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translate(80px, 0px);
          transform: translate(80px, 0px);
}

.container > .content > .left > .text {
  color: var(--color-font);
  width: 40%;
  -webkit-transform: translate(100px, 0px);
          transform: translate(100px, 0px);
}

.container > .content > .left > .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(140px, 40px);
          transform: translate(140px, 40px);
}

.container > .content > .left > .buttons > .button {
  margin: 15px;
}

.container > .content > .left > .buttons > .button > button {
  height: 35px;
  width: 130px;
  background-color: var(--color-small-button);
  border: none;
}

.container > .content > .left > .buttons > .button > button > a {
  color: var(--color-form-background);
  font-size: .9em;
  font-weight: bolder;
  text-decoration: none;
}

.container > .content > .left > .buttons > .button > :nth-child(2) {
  width: 130px;
  height: 3px;
  background-color: black;
  opacity: 50%;
  -webkit-transform: translate(0px, -3px);
          transform: translate(0px, -3px);
}

.container > .content > .left > .buttons > .button > :nth-child(3) {
  width: 130px;
  height: 3px;
  background-color: white;
  opacity: 50%;
  -webkit-transform: translate(0px, -38px);
          transform: translate(0px, -38px);
}

.container > .content > .left > .buttons > .button > :nth-child(4) {
  width: 35px;
  height: 3px;
  background-color: black;
  opacity: 50%;
  -webkit-transform: translate(-16px, -25px) rotate(90deg);
          transform: translate(-16px, -25px) rotate(90deg);
}

.container > .content > .left > .buttons > .button > :nth-child(5) {
  width: 35px;
  height: 3px;
  background-color: white;
  opacity: 50%;
  -webkit-transform: translate(111px, -28px) rotate(90deg);
          transform: translate(111px, -28px) rotate(90deg);
}

.container > .content > .right {
  -webkit-transform: translate(-200px, 0px);
          transform: translate(-200px, 0px);
}

.container > .content > .right > .banners {
  width: 350px;
  height: 200px;
  background-color: beige;
}

.container > .auth {
  background-color: var(--color-form-background);
  margin: 20px 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container > .auth > h2 {
  font-family: var(--font-hero-bold);
  color: var(--color-background);
  margin-bottom: 10px;
}

.container > .auth > .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  margin-bottom: 12px;
}

.container > .auth > .form > input {
  height: 25px;
  width: 400px;
  margin: none;
}

.container > .auth > .form > p {
  margin: 10px 0px;
  color: var(--color-background);
}

.container > .auth > p {
  color: var(--color-button);
  text-decoration: underline;
}

.container > .auth > .button {
  margin: 15px;
}

.container > .auth > .button > button {
  height: 35px;
  width: 350px;
  background-color: var(--color-button);
  border: none;
  color: var(--color-form-background);
  font-size: .9em;
  font-weight: bolder;
}

.container > .auth > .button > button > a {
  height: 35px;
  width: 100px;
  background-color: var(--color-button);
  border: solid;
  color: var(--color-form-background);
  font-size: .9em;
  font-weight: bolder;
}

.container > .auth > .button > :nth-child(2) {
  width: 350px;
  height: 3px;
  background-color: black;
  opacity: 50%;
  -webkit-transform: translate(0px, -3px);
          transform: translate(0px, -3px);
}

.container > .auth > .button > :nth-child(3) {
  width: 350px;
  height: 3px;
  background-color: white;
  opacity: 50%;
  -webkit-transform: translate(0px, -38px);
          transform: translate(0px, -38px);
}

.container > .auth > .button > :nth-child(4) {
  width: 35px;
  height: 3px;
  background-color: black;
  opacity: 50%;
  -webkit-transform: translate(-16px, -25px) rotate(90deg);
          transform: translate(-16px, -25px) rotate(90deg);
}

.container > .auth > .button > :nth-child(5) {
  width: 35px;
  height: 3px;
  background-color: white;
  opacity: 50%;
  -webkit-transform: translate(331px, -28px) rotate(90deg);
          transform: translate(331px, -28px) rotate(90deg);
}

.container > #verification {
  font-size: 3em;
  letter-spacing: .02em;
  width: 300px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container > a {
  color: var(--color-button);
}

.container > #log-in {
  margin: 35px;
}

.container > .page-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 70vw;
  -ms-flex-item-align: center;
      align-self: center;
}

.container > .page-content > .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 70vw;
}

.container > .page-content > .left > .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.container > .page-content > .left > .header > h2 {
  font-family: var(--font-hero);
  font-size: 1.7em;
  margin: 0px;
}

.container > .page-content > .left > .container {
  background-color: var(--color-form-background);
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  margin: 20px;
}

.container > .page-content > .left > .container > .instances {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 25px;
}

.container > .page-content > .left > .container > .instances > a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 40px;
  width: 500px;
  margin-bottom: 10px;
}

.container > .page-content > .left > .container > .instances > a > button {
  height: 50px;
  width: 500px;
  margin: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 40px;
  width: 500px;
  background-color: var(--color-instances);
  border: none;
}

.container > .page-content > .left > .container > .instances > a > button > p {
  color: var(--color-form-background);
  font-size: 1.2em;
  text-align: left;
  -webkit-transform: translate(10px, -5px);
          transform: translate(10px, -5px);
  font-family: var(--font-hero-bold);
}

.container > .page-content > .left > .container > .instances > a > button > :nth-child(2) {
  width: 500px;
  height: 3px;
  background-color: black;
  opacity: 50%;
  -webkit-transform: translate(-6px, -15px);
          transform: translate(-6px, -15px);
}

.container > .page-content > .left > .container > .instances > a > button > :nth-child(3) {
  width: 500px;
  height: 3px;
  background-color: white;
  opacity: 50%;
  -webkit-transform: translate(-6px, -55px);
          transform: translate(-6px, -55px);
}

.container > .page-content > .left > .container > .instances > a > button > :nth-child(4) {
  width: 40px;
  height: 3px;
  background-color: black;
  opacity: 50%;
  -webkit-transform: translate(-25px, -40px) rotate(90deg);
          transform: translate(-25px, -40px) rotate(90deg);
}

.container > .page-content > .left > .container > .instances > a > button > :nth-child(5) {
  width: 40px;
  height: 3px;
  background-color: white;
  opacity: 50%;
  -webkit-transform: translate(472.5px, -42.5px) rotate(90deg);
          transform: translate(472.5px, -42.5px) rotate(90deg);
}

.container > .page-content > .left > .container > .button {
  margin: 11px 0px 15px 0px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container > .page-content > .left > .container > .button > button {
  height: 35px;
  width: 130px;
  background-color: var(--color-small-button);
  border: none;
  color: var(--color-form-background);
  font-size: .9em;
  font-weight: bolder;
}

.container > .page-content > .left > .container > .button > button > a {
  height: 35px;
  width: 100px;
  color: var(--color-form-background);
  font-size: .9em;
  font-weight: bolder;
  text-decoration: none;
}

.container > .page-content > .left > .container > .button > :nth-child(2) {
  width: 130px;
  height: 3px;
  background-color: black;
  opacity: 50%;
  -webkit-transform: translate(0px, -3px);
          transform: translate(0px, -3px);
}

.container > .page-content > .left > .container > .button > :nth-child(3) {
  width: 130px;
  height: 3px;
  background-color: white;
  opacity: 50%;
  -webkit-transform: translate(0px, -38px);
          transform: translate(0px, -38px);
}

.container > .page-content > .left > .container > .button > :nth-child(4) {
  width: 35px;
  height: 3px;
  background-color: black;
  opacity: 30%;
  -webkit-transform: translate(-16px, -25px) rotate(90deg);
          transform: translate(-16px, -25px) rotate(90deg);
}

.container > .page-content > .left > .container > .button > :nth-child(5) {
  width: 35px;
  height: 3px;
  background-color: white;
  opacity: 50%;
  -webkit-transform: translate(111px, -28px) rotate(90deg);
          transform: translate(111px, -28px) rotate(90deg);
}

.container > .page-content > .right {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(85px);
          transform: translateY(85px);
}

.container > .page-content > .right > .button {
  margin: 11px 0px 15px 0px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container > .page-content > .right > .button > button {
  height: 35px;
  width: 130px;
  background-color: var(--color-small-button);
  border: none;
  color: var(--color-form-background);
  font-size: .9em;
  font-weight: bolder;
}

.container > .page-content > .right > .button > button > a {
  height: 35px;
  width: 100px;
  color: var(--color-form-background);
  font-size: .9em;
  font-weight: bolder;
  text-decoration: none;
}

.container > .page-content > .right > .button > :nth-child(2) {
  width: 130px;
  height: 3px;
  background-color: black;
  opacity: 50%;
  -webkit-transform: translate(0px, -3px);
          transform: translate(0px, -3px);
}

.container > .page-content > .right > .button > :nth-child(3) {
  width: 130px;
  height: 3px;
  background-color: white;
  opacity: 50%;
  -webkit-transform: translate(0px, -38px);
          transform: translate(0px, -38px);
}

.container > .page-content > .right > .button > :nth-child(4) {
  width: 35px;
  height: 3px;
  background-color: black;
  opacity: 30%;
  -webkit-transform: translate(-16px, -25px) rotate(90deg);
          transform: translate(-16px, -25px) rotate(90deg);
}

.container > .page-content > .right > .button > :nth-child(5) {
  width: 35px;
  height: 3px;
  background-color: white;
  opacity: 50%;
  -webkit-transform: translate(111px, -28px) rotate(90deg);
          transform: translate(111px, -28px) rotate(90deg);
}

.container > .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  width: 700px;
}

.container > .center > .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.container > .center > .header > h2 {
  font-family: var(--font-hero);
  font-size: 1.7em;
  margin: 0px;
}

.container > .center > .container {
  background-color: var(--color-form-background);
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

.container > .center > .container > .instances {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 25px;
}

.container > .center > .container > .instances > a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 40px;
  width: 500px;
  margin-bottom: 10px;
}

.container > .center > .container > .instances > a > button {
  height: 40px;
  width: 500px;
  margin: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 40px;
  width: 500px;
  background-color: var(--color-instances);
  border: none;
}

.container > .center > .container > .instances > a > button > p {
  color: var(--color-form-background);
  font-size: 1.2em;
  text-align: left;
  -webkit-transform: translate(10px, -5px);
          transform: translate(10px, -5px);
  font-family: var(--font-hero-bold);
}

.container > .center > .container > .instances > a > button > :nth-child(2) {
  width: 500px;
  height: 3px;
  background-color: black;
  opacity: 50%;
  -webkit-transform: translate(-6px, -15px);
          transform: translate(-6px, -15px);
}

.container > .center > .container > .instances > a > button > :nth-child(3) {
  width: 500px;
  height: 3px;
  background-color: white;
  opacity: 50%;
  -webkit-transform: translate(-6px, -55px);
          transform: translate(-6px, -55px);
}

.container > .center > .container > .instances > a > button > :nth-child(4) {
  width: 40px;
  height: 3px;
  background-color: black;
  opacity: 50%;
  -webkit-transform: translate(-25px, -40px) rotate(90deg);
          transform: translate(-25px, -40px) rotate(90deg);
}

.container > .center > .container > .instances > a > button > :nth-child(5) {
  width: 40px;
  height: 3px;
  background-color: white;
  opacity: 50%;
  -webkit-transform: translate(472.5px, -42.5px) rotate(90deg);
          transform: translate(472.5px, -42.5px) rotate(90deg);
}

.container > .center > .container > .button {
  margin: 11px 0px 15px 0px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container > .center > .container > .button > button {
  height: 35px;
  width: 130px;
  background-color: var(--color-small-button);
  border: none;
  color: var(--color-form-background);
  font-size: .9em;
  font-weight: bolder;
}

.container > .center > .container > .button > button > a {
  height: 35px;
  width: 100px;
  color: var(--color-form-background);
  font-size: .9em;
  font-weight: bolder;
  text-decoration: none;
}

.container > .center > .container > .button > :nth-child(2) {
  width: 130px;
  height: 3px;
  background-color: black;
  opacity: 50%;
  -webkit-transform: translate(0px, -3px);
          transform: translate(0px, -3px);
}

.container > .center > .container > .button > :nth-child(3) {
  width: 130px;
  height: 3px;
  background-color: white;
  opacity: 50%;
  -webkit-transform: translate(0px, -38px);
          transform: translate(0px, -38px);
}

.container > .center > .container > .button > :nth-child(4) {
  width: 35px;
  height: 3px;
  background-color: black;
  opacity: 30%;
  -webkit-transform: translate(-16px, -25px) rotate(90deg);
          transform: translate(-16px, -25px) rotate(90deg);
}

.container > .center > .container > .button > :nth-child(5) {
  width: 35px;
  height: 3px;
  background-color: white;
  opacity: 50%;
  -webkit-transform: translate(111px, -28px) rotate(90deg);
          transform: translate(111px, -28px) rotate(90deg);
}
/*# sourceMappingURL=pages.css.map */